.title-container-1 {
  color: #2b2024;
  font-size: 15px;
  gap: 20px;
  display: flex;
  margin: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title-container-2-link {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.title-category-style {
  cursor: pointer;
  font-size: 14px;
  color: #2b2024;
}

.title-category-style:hover {
  font-weight: bold;
}

.title-category-selected-style {
  color: black;
  font-size: 14px;
  font-weight: bold;
}

.title-category-selected-style:hover {
  color: black;
  cursor: pointer;
  font-weight: bold;
}

/* START CENTER CONTAINER */
.market-place-center-container {
  width: 100%;
  margin: 2px;
}

.scrollable-center-container {
  max-height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

.image-main-container {
  margin: 2px;
  position: relative;
}

.image-container {
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.image-style {
  height: 250px;
  width: 350px;
  object-fit: cover;
}

.image-detail-container {
  top: 203px;
  left: 0;
  width: 100%;
  color: white;
  z-index: 2;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.663);
  cursor: pointer;
  padding-left: 5.5px;
  padding-right: 5.5px;
}

.image-price-on-stock-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image-out-of-stock-container {
  font-size: 15px;
  font-weight: bolder;
  color: rgb(245, 8, 8);
}

.image-on-stock-container {
  font-size: 15px;
  font-weight: bolder;
  color: rgb(20, 231, 20);
}

.image-price-label-container {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

.image-price-label-container-discounted {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  text-decoration: line-through;
  color: rgb(165, 160, 160);
}

.image-discount-label-container {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  color: rgb(16, 228, 16);
}

.image-just-style-container {
  top: 20px;
  z-index: 1000;
  width: 100px;
  height: 10px;
  margin-left: 80%;
  position: relative;
}

.image-just-in-container {
  margin-right: 5px;
  color: black;
  font-weight: bold;
}

.image-name-label-container {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
}

.image-supporting-detail-label-container {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
}

@media (max-width: 600px) {
  .title-category-style {
    font-size: 10px;
  }
  .title-category-selected-style {
    font-size: 10px;
  }
}

/* Responsive media query */
@media (max-width: 400px) {
  .title-container-2-link {
    overflow-x: scroll;
    justify-self: center;
    align-items: center;
    width: 1000px;
    max-width: 350px;
    gap: 5px;
  }

  .title-category-style,
  .title-category-selected-style {
    white-space: nowrap;
  }
}

@media (max-height: 1500px) {
  .scrollable-center-container {
    max-height: 1250px;
  }
}

@media (max-height: 1400px) {
  .scrollable-center-container {
    max-height: 1150px;
  }
}

@media (max-height: 1300px) {
  .scrollable-center-container {
    max-height: 1050px;
  }
}

@media (max-height: 1200px) {
  .scrollable-center-container {
    max-height: 950px;
  }
}

@media (max-height: 1000px) {
  .scrollable-center-container {
    max-height: 770px;
  }
}

@media (max-height: 900px) {
  .scrollable-center-container {
    max-height: 700px;
  }
}

@media (max-height: 800px) {
  .scrollable-center-container {
    max-height: 600px;
  }
}

@media (max-height: 700px) {
  .scrollable-center-container {
    max-height: 500px;
  }
}
