.button-primary-backgroud{
  background-color: black !important;
  color: #FBF9FA !important;
  font-family:Verdana, Geneva, Tahoma, sans-serif !important;
}

.button-secondary-backgroud{
  background-color: black !important;
  color: #FBF9FA !important;
  font-family:Verdana, Geneva, Tahoma, sans-serif !important;
}