.button-link {
  cursor: pointer;
  color: #2b2024 !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

.button-link-x-xmall {
  cursor: pointer !important;
  font-size: 10px !important;
  font-weight: bold !important;
  color: #2b2024 !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
