.uploaded-products-main-container {
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.3s ease; /* Smooth transition for scaling and glow */
}

.uploaded-products-main-container:hover {
  transform: scale(1.01); /* Scale up the element by 10% */
 }


.images-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.uploaded-additional-image-container {
  height: 380px;
  width: 100px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.image-container {
  cursor: pointer;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.133);
}

.image-container:hover {
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.659);
}

.image-list-container {
  width: 80px !important;
  height: 80px !important;
  cursor: pointer;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.133);
}

.image-list-container:hover {
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.659);
}

.uploaded-displayed-image-container {
  width: 340px !important;
  height: 365px !important;
}

.image-details {
  height: 100%;
  width: 100%;
  display: grid;
  color: black;
  padding-right: 15px;
  white-space: pre-wrap;
}

.image-name-availability-container {
  display: flex;
  justify-content: space-between;
}

.uploaded-image-name-detail {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: -5px;
}

.uploaded-profile-image-on-stock-container {
  color: rgb(20, 231, 20);
  font-weight: bolder;
  font-size: 15px;
}

.uploaded-profile-image-out-stock-container {
  color: rgb(245, 8, 8);
  font-weight: bolder;
  font-size: 15px;
}

.uploaded-image-category {
  margin-bottom: 10px;
}

.uploaded-image-price {
  font-weight: bold;
  margin-bottom: 10px;
}

.uploaded-image-price-discounted {
  font-weight: bold;
  margin-bottom: 10px;
  color: rgb(87, 83, 83);
  text-decoration: line-through;
}

.uploaded-image-price-discount {
  font-weight: bold;
  margin-bottom: 10px;
  color: green;
}

.uploaded-image-description {
  font-size: 14px;
  max-height: 245px;
  overflow-wrap: break-word;
  height: 245px;
  overflow-y: auto;
  text-align: justify;
  margin-bottom: 10px;
  padding-right: 10px;
}

.action-buttons-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  font-weight: bold;
  font-size: 12px;
  color: black;
  margin-top: -15px;
  margin-right: 20px;
  border-bottom-width: 1px;
}

.action-button-style {
  font-weight: bold;
  cursor: pointer;
}

.action-button-style:hover {
  color: rgba(0, 0, 0, 0.438);
}


@media (max-width: 1500px) {
  .uploaded-image-name-detail {
    font-size: 15px;
  }
  .uploaded-profile-image-out-stock-container {
    font-size: 15px;
  }
  .uploaded-profile-image-on-stock-container {
    font-size: 15px;
  }
  .uploaded-image-category {
    font-size: 15px;
  }
  .uploaded-image-price {
    font-size: 15px;
  }
  .uploaded-image-price-discounted {
    font-size: 15px;
  }
  .uploaded-image-price-discount {
    font-size: 15px;
  }
}

@media (max-width: 800px) {
  .uploaded-additional-image-container {
    height: 220px;
  }
  .image-list-container {
    width: 50px !important;
    height: 50px !important;
  }
  .uploaded-displayed-image-container {
    width: 200px !important;
    height: 215px !important;
  }
  .uploaded-products-main-container {
    display: grid;
    justify-content: center;
  }
  .uploaded-images-container {
    justify-content: center;
  }
   
  .uploaded-additional-image-container {
    margin-left: -30px;
  }
  .uploaded-image-name-detail {
    font-size: 12px;
  }
  .uploaded-profile-image-out-stock-container {
    font-size: 12px;
  }
  .uploaded-profile-image-on-stock-container {
    font-size: 12px;
  }
  .uploaded-image-category {
    font-size: 12px;
  }
  .uploaded-image-price {
    font-size: 12px;
  }
  .uploaded-image-price-discounted {
    font-size: 12px;
  }
  .uploaded-image-price-discount {
    font-size: 12px;
  }
  .uploaded-image-description {
    font-size: 10px;
  }
}
