.main-profile-container {
  width: 100vw;
  height: 100vh;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5px;
  padding-bottom: 100px;
  overflow-x: hidden;
}

.main-profile-container-cover-image-name {
  height: 300px;
  display: flex;
  justify-content: flex-end;
  background-color: rgb(125, 131, 125);
  border-bottom-color: rgba(0, 0, 0, 0.085);
  position: relative;
  background-size: cover;
  background-position: center;
}

.main-profile-container-cover-image-name-dragging {
  cursor: move;
}

.main-profile-button-container {
  display: flex;
  position: absolute;
  right: 10px;
  bottom: 10px;
  gap: 5px;
}

.main-profile-image-details-container {
  display: flex;
  align-items: center;
  margin-top: -50px;
  gap: 10px;
}

.main-profile-image {
  height: 170px;
  width: 170px;
}

.main-profile-name-membership {
  display: grid;
}

.selling-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  color: black;
  padding: 10px;
}

.main-profile-name-container {
  font-size: 30px;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.main-profile-membership {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  margin-top: -5px;
  margin-left: 0.9px;
  color: grey;
}

.listing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.add-new-listing-container {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  color: black;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 50px;
}

.add-new-listing-container:hover {
  background-color: rgba(0, 0, 0, 0.356);
}

.product-container {
  height: 400px;
  background-color: green;
  width: 100%;
}

.load-more-container-style {
  margin-top: 20px;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
  transition: transform 0.3s ease; /* Smooth transition for scaling and glow */
}

.load-more-container-style:hover {
  transform: scale(1.08); /* Scale up the element by 10% */
}

.load-more-label {
  color: rgba(0, 0, 0, 0.432);
  background-color: rgba(172, 172, 172, 0.397);
  padding: 2px;
  border-radius: 2px;
}

@media (max-width: 1000px) {
  .main-profile-container {
    padding-left: 2%;
    padding-right: 2%;
  }
}

@media (max-width: 800px) {
  .main-profile-container-cover-image-name {
    height: 250px;
  }
}

@media (max-width: 500px) {
  .main-profile-container-cover-image-name {
    height: 200px;
  }
  .main-profile-name-container {
    font-size: 25px;
  }
  .main-profile-membership {
    font-size: 10px;
  }
  .main-profile-image {
    height: 140px;
    width: 140px;
  }
  .add-new-listing-container {
    width: 80%;
    padding: 20px;
    font-size: 10px;
  }
}

@media (max-width: 430px) {
  .main-profile-image-details-container {
    margin-top: -30px;
  }

  .main-profile-container-cover-image-name {
    height: 200px;
  }
  .main-profile-name-container {
    font-size: 20px;
  }
  .main-profile-membership {
    font-size: 10px;
  }
  .main-profile-image {
    height: 100px;
    width: 100px;
  }
}
